In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
data= pd.read_csv("co2.csv")
data

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
0,Afghanistan,AF,93,1750,0.0,41128771.0,652230.0,0.40%,63/km�
1,Afghanistan,AF,93,1751,0.0,41128771.0,652230.0,0.40%,63/km�
2,Afghanistan,AF,93,1752,0.0,41128771.0,652230.0,0.40%,63/km�
3,Afghanistan,AF,93,1753,0.0,41128771.0,652230.0,0.40%,63/km�
4,Afghanistan,AF,93,1754,0.0,41128771.0,652230.0,0.40%,63/km�
...,...,...,...,...,...,...,...,...,...
59615,Zimbabwe,ZW,263,2016,736467042.0,16320537.0,390757.0,0.30%,42/km�
59616,Zimbabwe,ZW,263,2017,746048675.0,16320537.0,390757.0,0.30%,42/km�
59617,Zimbabwe,ZW,263,2018,757903042.0,16320537.0,390757.0,0.30%,42/km�
59618,Zimbabwe,ZW,263,2019,768852126.0,16320537.0,390757.0,0.30%,42/km�
59619,Zimbabwe,ZW,263,2020,779383468.0,16320537.0,390757.0,0.30%,42/km�

In [91]:
top_emmiters = data.loc[data.Country == 'United States']
top_emmiters

,Country,Code,Calling Code,Year,TEST,Population(2022),Area,% of World,Density(km2)
56910,United States,US,1,1750,0.000000e+00,338289857.0,9372610.0,6.10%,36/km�
56911,United States,US,1,1751,0.000000e+00,338289857.0,9372610.0,6.10%,36/km�
56912,United States,US,1,1752,0.000000e+00,338289857.0,9372610.0,6.10%,36/km�
56913,United States,US,1,1753,0.000000e+00,338289857.0,9372610.0,6.10%,36/km�
56914,United States,US,1,1754,0.000000e+00,338289857.0,9372610.0,6.10%,36/km�
...,...,...,...,...,...,...,...,...,...
57176,United States,US,1,2016,3.960000e+11,338289857.0,9372610.0,6.10%,36/km�
57177,United States,US,1,2017,4.010000e+11,338289857.0,9372610.0,6.10%,36/km�
57178,United States,US,1,2018,4.070000e+11,338289857.0,9372610.0,6.10%,36/km�
57179,United States,US,1,2019,4.120000e+11,338289857.0,9372610.0,6.10%,36/km�
57180,United States,US,1,2020,4.170000e+11,338289857.0,9372610.0,6.10%,36/km�

In [93]:
data.rename(columns = {'TEST':'co2'}, inplace = True)
data

,Country,Code,Calling Code,Year,co2,Population(2022),Area,% of World,Density(km2)
0,Afghanistan,AF,93,1750,0.0,41128771.0,652230.0,0.40%,63/km�
1,Afghanistan,AF,93,1751,0.0,41128771.0,652230.0,0.40%,63/km�
2,Afghanistan,AF,93,1752,0.0,41128771.0,652230.0,0.40%,63/km�
3,Afghanistan,AF,93,1753,0.0,41128771.0,652230.0,0.40%,63/km�
4,Afghanistan,AF,93,1754,0.0,41128771.0,652230.0,0.40%,63/km�
...,...,...,...,...,...,...,...,...,...
59615,Zimbabwe,ZW,263,2016,736467042.0,16320537.0,390757.0,0.30%,42/km�
59616,Zimbabwe,ZW,263,2017,746048675.0,16320537.0,390757.0,0.30%,42/km�
59617,Zimbabwe,ZW,263,2018,757903042.0,16320537.0,390757.0,0.30%,42/km�
59618,Zimbabwe,ZW,263,2019,768852126.0,16320537.0,390757.0,0.30%,42/km�
59619,Zimbabwe,ZW,263,2020,779383468.0,16320537.0,390757.0,0.30%,42/km�